{% extends 'base.html' %}

{% block content %}

<div class="container">
    <form action="" method="post" class="needs-validation" novalidate>
         <div class="mb-3">
             <label for="title" class="form-label">Title</label>
             <input type="text" class="form-control" id="title" placeholder="Title" required>
             <div class="valid-feedback">
                 Looks good!
             </div>
             <div class="invalid-feedback">
                 Please enter valid password!
             </div>
         </div>
         <div class="mb-3">
             <label for="reporter" class="form-label">Reporter Name</label>
             <input type="text" class="form-control" id="reporter" placeholder="Reporter Name" required>
             <div class="valid-feedback">
                 Looks good!
             </div>
             <div class="invalid-feedback">
                 Please enter valid password!
             </div>
         </div>
         <div class="mb-3">
             <label for="category" class="form-label">Category</label>
             <select class="form-select form-select-lg " id="category" aria-label=".form-select-lg example" required>
                 <option selected disabled value="">Select Category</option>
                 <option value="1">One</option>
                 <option value="2">Two</option>
                 <option value="3">Three</option>
             </select>
             <div class="valid-feedback">
                 Looks good!
             </div>
             <div class="invalid-feedback">
                 Please select a category!
             </div>
         </div>
         <div class="mb-3">
             <label for="content" class="form-label">Blog Content</label>
             <textarea class="form-control" id="content" rows="8" placeholder="Blog content here..." required></textarea>
             <div class="valid-feedback">
                 Looks good!
             </div>
             <div class="invalid-feedback">
                 Please enter valid password!
             </div>
         </div>
         <div class="mb-3">
             <label for="formFile" class="form-label">Blog Image</label>
             <input class="form-control" type="file" id="formFile"  required>
             <div class="valid-feedback">
                 Looks good!
             </div>
             <div class="invalid-feedback">
                 Please enter valid password!
             </div>
         </div>
         <button type="submit" class="btn btn-danger mb-3">Upload</button>
    </form>
 </div>
 
{% endblock content %}