{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="table-responsive-md border border-secondary rounded p-3">
        <table class="table table-bordered table-striped caption-top table-hover">
            <caption>
                <div class="d-flex justify-content-between">
                    All Blogs 
                    <a href="{% url 'administrators:create' %}" class="border-bottom border-secondary bg-mute">Create +</a>
                </div>
            </caption>                        
            <thead class="table-dark">
                <tr>
                  <th scope="col" style="width: 3%;">#</th>
                  <th scope="col">Title</th>
                  <th scope="col" style="width: 200px;">Category</th>
                  <th scope="col" style="width: 150px;">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for blog in blogs %}
                <tr>
                  <th scope="row">{{forloop.counter0|add:blogs.start_index}}</th>
                  <td>{{blog.title}}</td>
                  <td>{{blog.get_category_display}}</td>
                  <td class="">
                    <div class="row m-0 p-0 justify-content-between">
                        <a href="{{blog.get_absolute_url}}" class="col text-success border border-success rounded me-1">Edit</a>
                        <a href=" {% url 'administrators:delete' slug=blog.slug %}" class="col text-danger border border-danger rounded ">Delete</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-end">
          <nav aria-label="Page navigation example ">
              <ul class="pagination">
              {% if blogs.has_previous %}
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">first</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
              {% endif %}

                <li class="page-item"><a class="page-link text-secondary" href="#"><span class="current">
                  Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
              </span></a></li>
                
              
                {% if blogs.has_next %}
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page={{ blogs.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link text-secondary" href="?page={{ blogs.paginator.num_pages }}"aria-label="Next">
                    <span aria-hidden="true">last</span>
                  </a>
                </li>
              {% endif %}

              </ul>
          </nav>
        </div>
      </div>
    
</div>
{% endblock content %}