{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="table-responsive-md border border-secondary rounded p-3">
        <table class="table table-bordered table-striped caption-top table-hover">
            <caption>
                <div class="d-flex justify-content-between">
                    All Blogs 
                    <a href="create.html" class="border-bottom border-secondary bg-mute">Create +</a>
                </div>
            </caption>                        
            <thead class="table-dark">
                <tr>
                  <th scope="col" style="width: 3%;">#</th>
                  <th scope="col">Title</th>
                  <th scope="col" style="width: 200px;">Category</th>
                  <th scope="col" style="width: 150px;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td class="">
                    <div class="row m-0 p-0 justify-content-between">
                        <a href="" class="col text-success border border-success rounded ">Edit</a>
                        <a href="" class="col text-danger border border-danger rounded ">Delete</a>
                    </div>
                  </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="">
                      <div class="row m-0 p-0 justify-content-between">
                          <a href="" class="col text-success border border-success rounded ">Edit</a>
                          <a href="" class="col text-danger border border-danger rounded ">Delete</a>
                      </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td class="">
                      <div class="row m-0 p-0 justify-content-between">
                          <a href="" class="col text-success border border-success rounded ">Edit</a>
                          <a href="" class="col text-danger border border-danger rounded ">Delete</a>
                      </div>
                    </td>
                </tr>

              </tbody>
        </table>
        <div class="d-flex justify-content-center align-items-end>
            <nav aria-label="Page navigation example ">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link text-secondary" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
                  <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                  <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link text-secondary" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
            </nav>
        </div>
      </div>
    
</div>
{% endblock content %}