{% extends 'account-base.html' %}

{% block content %}

<form action="" method="post" class="border border-secondary rounded p-3 needs-validation" style="width: 350px;" novalidate>
    {% csrf_token %}
    <h4 class="fs-3 text-danger">Register</h4>
    <div class="mb-3">
        <label for="id_username" class="form-label ">
            {{ form.username.label }}
            {% if form.username.errors%}
            <span class="text-danger">- {{form.username.errors.as_text}}</span>
            {% endif %}
        </label>
        {{ form.username }}
        {% comment %} <label for="text" class="form-label">Username</label> {% endcomment %}
        {% comment %} <input type="text" class="form-control" id="text" placeholder="username" required> {% endcomment %}
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter valid username!
        </div>
    </div>
    <div class="mb-3">        
        <label for="password1" class="form-label ">
            {{ form.password1.label }} 
            {% if form.password1.errors%}
            <span class="text-danger"> {{form.password1.errors.as_text}}</span>
            {% endif %}
        </label>
        {{ form.password1 }}
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter password!
        </div>
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label ">
            {{ form.password2.label }} 
            {% if form.password2.errors%}
            <span class="text-danger">- {{form.password2.errors.as_text}}</span>
            {% endif %}
        </label>
        {{ form.password2 }}
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please confirm password!
        </div>
    </div>
    <div class="">
        <button type="submit" class="btn btn-danger mb-3 ">Submit</button>
        <small class=''>Already have an account, <a href="login.html">Login.</a></small>
    </div>
</form>

{% endblock content %}