{% extends 'base.html' %}

{% block content %}

<div class="container ">
        <h3 class="text-danger border-bottom border-secondary">{{ topic|title }}</h3>
        </div>
        <div class="container mt-2">
            {% if not blogs %}
                <div class="vh-100">
                    Page is empty
                </div>
            {% else %}
            <div class="row" >
                <div class="card col-sm-12 col-lg-9 order-first order-md-0 ">
                    <img class="card-img-top " src="{{blog.image.url}}" alt="Card image cap" style="height: 60vh;">
                    <div class="card-body ">
                        <h5 class="card-title">{{blog.title}}</h5>
                      {% comment %} <p class="card-text"><small class="text-muted">Last updated {{blog.updated_at | timesince}} ago</small></p> {% endcomment %}
                      <p class="card-text"><small class="text-muted">Last updated {{blog.whenPublished }}</small></p>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3 ">
                    <ul class="list-group ps-0 mb-5">
                        {% for blog in blogs  %}
                            <a href="?slug={{blog.slug}}" class="list-group-item list-group-item-action ps-1 pe-1">
                                <div class="row justify-content-between">
                                    <h5 class="col-8">{{blog.title}}</h5>
                                    <img src="{{blog.image.url}}" alt="" class="col-5" style="height: 60px; width:70px">
                                </div>
                                <small class="text-danger">{{topic|capfirst}}</small>
                            </a>
                        {% endfor %}                        
                    </ul>
                    <div class="d-flex justify-content-center align-items-end">
                        <nav aria-label="Page navigation example ">
                            <ul class="pagination">
                            {% if blogs.has_previous %}
                              <li class="page-item">
                                <a class="page-link text-secondary" href="?page=1" aria-label="Previous">
                                  <span aria-hidden="true">first</span>
                                </a>
                              </li>
                              <li class="page-item">
                                <a class="page-link text-secondary" href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                              </li>
                            {% endif %}
              
                              <li class="page-item"><a class="page-link text-secondary" href="#"><span class="current">
                                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
                            </span></a></li>
                              
                            
                              {% if blogs.has_next %}
                              <li class="page-item">
                                <a class="page-link text-secondary" href="?page={{ blogs.next_page_number }}" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                </a>
                              </li>
                              <li class="page-item">
                                <a class="page-link text-secondary" href="?page={{ blogs.paginator.num_pages }}"aria-label="Next">
                                  <span aria-hidden="true">last</span>
                                </a>
                              </li>
                            {% endif %}
              
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-12 col-lg-9">
                    <p class="text-justify">
                      {{blog.blog_content}}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

{% endblock content %}